In [26]:
import pandas as pd
from string import ascii_uppercase as alphabet

In [33]:
all_tables = pd.read_html("https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

In [42]:
all_tables[9].columns[1]

'Team.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte'

In [71]:
all_tables[9]
all_tables[16]
all_tables[23]
all_tables[30]
all_tables[37]
all_tables[44]
all_tables[51]
all_tables[58]

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    3  2  0  1   6   4  +2    6
1    2  South Korea    3  1  1  1   4   4   0    4
2    3      Uruguay    3  1  1  1   2   2   0    4
3    4        Ghana    3  1  0  2   5   7  −2    3

In [76]:
dict_table = {}

for letter, i in zip(alphabet, range(9, 58+7, 7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    dict_table[f'Group {letter}'] = df

dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [81]:
import pickle

with open('./group_table', 'wb') as output:
    pickle.dump(dict_table, output)